# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform plan
*.tfplan
*.tfplan.*

# Lambda build artifacts
*.zip

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/